/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',;
    background-color: #1c1b29;
    color: #f4f4f9;
    text-align: center;
    padding: 20px;
}

header {
    background: linear-gradient(90deg, #3a2e66, #5c4bb7);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
}

h1 {
    font-size: 2.2em;
}

main {
    margin-top: 25px;
}

.heroes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.hero {
    background-color: #5c4bb7;
    border: none;
    color: white;
    padding: 12px 10px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.hero:hover {
    background-color: #7c63d0;
}

.battle-area {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 80%;
    padding: 20px;
    background-color: #292841;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.battle-area img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.actions button {
    background-color: #4a3a97;
    border: none;
    color: #fff;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.actions button:hover {
    background-color: #6e58d5;
}

.hidden {
    display: none;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #aaa;
}
